name: CI

on:
  pull_request:
    path:
      - 'src/**'
    branches:
      - main
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install requirements
        run: |
          pip install -r req.txt
          echo "Installation Passed..."

      - name: Pytest test
        run: |
          pytest tests/
          echo "Pytest Passed..."
  build:
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: build_docker_image
        run: |
          docker build -t ${{ github.event.repository.name }}:${{ github.sha }} ./src
          echo "Docker image built... "
      - name: run_docker_iamge test
        run: |
          docker run ${{ github.event.repository.name }}:${{ github.sha }}
          echo "Docker image running... "
  delivery:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_LOGIN }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Delivery
        uses: docker/build-push-action@v5
        with:
          context: ./src
          push: true
          tags: |
            olegkawalko/${{ github.event.repository.name }}:${{ github.sha }}



