name: CI

on:
  push:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install requirements
        run: |
          pip install -r req.txt
          echo "Installation Passed..."

      - name: Pytest test
        run: |
          pytest tests/
          echo "Pytest Passed..."
  build:
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: build_docker_image
        run: |
          docker build -t pokeshop-check-price:latest ./src
          echo "Docker image built... "
      - name: run_docker_iamge test
        run: |
          docker run --rm pokeshop-check-price:latest python3 -c "import main"
          echo "Docker image running... "
  delivery:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Delivery
        uses: docker/build-push-action@v5
        with:
          context: ./src
          push: true
          tags: |
            olegkawalko/pokeshop-check-price:${{ github.sha }}
            olegkawalko/pokeshop-check-price::latest



