name: CI

on:
  push:
    branches:
      - ci

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install requirements
        run: |
          pip install -r req.txt
          echo "Installation Passed..."

      - name: Pytest test
        run: |
          pytest tests/
          echo "Pytest Passed..."
  build:
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: build_docker_image
        run: |
          docker build -t price-tracker:latest ./src
          echo "Docker image built... "
      - name: run_docker_iamge
        run: |
          run: docker run --rm price-tracker:latest python3 -c "import main"
          echo "Docker image running... "

