name: CI-dummy

on: 
  pull_request:
    branches:
      - main
    paths-ignore: 
      - 'src/**'
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - name: test
      run:  echo "No Test Needed..."

  build:
    runs-on: ubuntu-latest
    steps:
    - name: build
      run:  echo "No Build Needed..."

  delivery:
    runs-on: ubuntu-latest
    steps:
    - name: test
      run:  echo "No Delviery Needed..."
